---
import Card from "../components/Card.astro";
import Link from "../components/Link.astro";

import "../style.css";
import "@fortawesome/fontawesome-svg-core/styles.css";

import {
  cards,
  links,
  name,
  subtitle,
  footer,
  description,
} from "../siteConfig";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="author" content={name} />
    <title>{name} - Linktree</title>
    <script>
      import { library, dom } from "@fortawesome/fontawesome-svg-core";
      import { fas } from "@fortawesome/free-solid-svg-icons";
      import { fab } from "@fortawesome/free-brands-svg-icons";
      library.add(fas, fab);
      dom.watch();
    </script>
  </head>
  <body class="body-custom">
    <main class="main-custom">
      <h1 class="title">{name}</h1>
      <p class="subtitle">{subtitle}</p>
      <div class="card-grid">
        {
          cards.map(({ name: name, link, icon }) => {
            return <Card {name} {link} {icon} />;
          })
        }
      </div>
      <div class="link-grid">
        {
          links.map(({ link, icon }) => {
            return <Link {link} {icon} />;
          })
        }
      </div>
      <p class="footer-text">{footer}</p>
    </main>
  </body>
</html>
